<%- include('partials/header'); -%>

  <header>
    <div class="food">
      <img src="https://static.vecteezy.com/system/resources/previews/000/430/087/large_2x/healthy-food-vector.jpg"
        alt="">
    </div>
    <div class="headings">
      <h2>Food Recipes</h2>
      <h3>By cooks for cooks</h3>
      <a href="/recipes" class="btn">View Recipes</a>
    </div>
  </header>


  <%- include('partials/footer'); -%>