<%- include('partials/header'); -%>

  <ul class="recipes">
    <li class="recipe">
      <img
        src="https://png.pngtree.com/png-clipart/20190327/ourlarge/pngtree-hand-painted-american-fast-food-hot-dog-png-image_873868.jpg"
        alt="food recipe icon">
      <h4>Sandiwch</h4>
      <p>Banana, Vanilla ice cream, Milk</p>
    </li>
    <li class="recipe">
      <img
        src="https://png.pngtree.com/png-clipart/20190117/ourlarge/pngtree-hand-painted-food-food-drink-png-image_434915.jpg"
        alt="food recipe icon">
      <h4>smoothie</h4>
      <p>Peach, Pinapple, Apple juice</p>
    </li>
    <li class="recipe">
      <img
        src="https://png.pngtree.com/png-clipart/20190523/ourlarge/pngtree-banh-mi-cha---vietnam-food-png-image_1053988.jpg"
        alt="food recipe icon">
      <h4>Subway</h4>
      <p>Oats, Peanut butter, Milk, Banana, Blueberries</p>
    </li>
    <li class="recipe">
      <img
        src="https://png.pngtree.com/element_our/png_detail/20181115/hand-painted-thailand-food-hand-painted-png_240241.jpg"
        alt="food recipe icon">
      <h4>Taco</h4>
      <p>Banana, Vanilla ice cream, Milk</p>
    </li>
    <li class="recipe">
      <img
        src="https://png.pngtree.com/png-clipart/20190118/ourlarge/pngtree-bread-honey-toast-topping-by-almond-slice-with-whipping-cream-and-png-image_325065.jpg"
        alt="food recipe icon">
      <h4>Rice</h4>
      <p>Peach, Pinapple, Apple juice</p>
    </li>
    <li class="recipe">
      <img
        src="https://png.pngtree.com/png-vector/20200503/ourlarge/pngtree-burger-food-illustration-in-icon-drawn-style-png-image_2198065.jpg"
        alt="food recipe icon">
      <h4>Burger</h4>
      <p>Oats, Peanut butter, Milk, Banana, Blueberries</p>
    </li>
  </ul>

  <%- include('partials/footer'); -%>